{
    "management": {
        "user": "monitor-api",
        "password": "CHANGE_ME"
    },
    "gaia": {
        "user": "monitor-api",
        "password": "CHANGE_ME"
    },
    "bootstrap": {
        "mgmt_admin_user": "cpadmin",
        "mgmt_admin_password": "CHANGE_ME",
        "gaia_admin_user": "admin",
        "gaia_admin_password": "CHANGE_ME"
    }
}
